<%- include('./includes/header') %>
<!-- 引入之後的頁面都會用到這個檔案裡的內容 -->
<link rel="stylesheet" href="/styles/main.css">
</head>
<!-- 把結尾的</head>保留，上半部的內容存放在另一個檔案引入讀取，就不會每支檔案都受裡面可能會有的link影響 -->
<body>
  <%- include('./includes/navbar') %> 
    <div class="container-md">
        <div class="alert alert-danger" role="alert">
            Oops! Page is not found :(
        </div>
    </div>
    <%- include('./includes/footer') %>